@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Monoton&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

